AMP=true
TOP_K=50
TOP_P=0.9
MAX_TOKENS=512
ALLOW_ORIGINS=http://localhost:3000
TEMPERATURE=0.7
LORA=false
MODEL_ID=fidel-chat-v1-125M
TOKENIZER_PATH=tokenizers/amharic-bpe-tokenizer-25k.model
SYSTEM_PROMPT=
